{% extends 'base.html.twig' %}

{% block title %}Botiga | Paiements{% endblock %}

{% block body %}
	<h1 class="mt-5">Liste de tous les paiements</h1>
	{{ include('_flash_messages.html.twig') }}

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom du titulaire</th>
				<th>Numéro de carte</th>
				{# <th>ExpirationDate</th> #}
				<th>CVV</th>
				<th>Statut</th>
				{# TODO A traiter #}
				{# <th>CreatedAt</th>
				<th>UpdatedAt</th> #}
				<th>Actions</th>

			</tr>
		</thead>
		<tbody>
			{% for payment in payments %}
				<tr>
					<td>{{ payment.id }}</td>
					<td>{{ payment.cardholderName }}</td>
					<td>{{ payment.numberCard }}</td>
					{# <td>{{ payment.expirationDate }}</td> #}
					<td>{{ payment.secretCode }}</td>
					<td>{{ payment.valid}}</td>

					{# TODO A traiter #}
					{# <td>{{payment.createdAt ?store.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{payment.updatedAt ?payment.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
					<td>
					   <a class="btn btn-success"href="{{ path('app_payment_show', {'id':payment.id}) }}"> <i class="bi bi-eye"></i> </a>
						<a class="btn btn-warning" href="{{ path('app_payment_edit', {'id':payment.id}) }}"><i class="bi bi-pencil"></i></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun paiement enregistré</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_payment_new') }}" class="btn btn-primary me-2">Ajouter un paiement</a>
{% endblock %}
